@charset "utf-8";

@import "normalize",
        "bootstrap";



// SETUP - COLORS
$dark-space:  #3B3B3C;  // header bg
$deep-purple: #292E4B;  // content bg
$purple:      #525C86;  // links
$yellow:      #FDB940;  // links
$charcoal:    #292C2F;  // footer bg
$gray80:      #58595B;  // text dark, heading
$gray50:      #939598;  // text med, paragraph,
$gray20:      #D1D3D4;  // footer link
$gray5:       #F1F2F2;  // light gray bg




// SETUP - MIXINS
@mixin transform($val) {
  -webkit-transform:   $val;
  -moz-transform:      $val;
  -ms-transform:       $val;
  -o-transform:        $val;
  transform:           $val;
}

@mixin transition($val) {
  -webkit-transition:   $val;
  -moz-transition:      $val;
  -ms-transition:       $val;
  -o-transition:        $val;
  transition:           $val;
}

@mixin box-shadow($val) {
  -webkit-box-shadow:   $val;
  -moz-box-shadow:      $val;
  box-shadow:           $val;
}

@mixin opacity($val) {
  opacity: $val;
  $opacity-ie: $val * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}



// COMPONENT - GENERAL
body {font-family: 'Source Sans Pro', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

h1, h2, h3, h4, h5, h6 {color: $gray80; font-weight: normal;}

p {margin: 15px 0 0;}

br {content: ""; display: block; margin: 0;}

blockquote .reference {display: block; margin-top: 40px; font-size: 66%; @include opacity(0.5);}

a:hover {@include transition(all 0.3s linear);}

.separator {height: 40px;
  @media (min-width: 768px) {height: 60px;}
}

.content {padding-top: 40px; padding-bottom: 40px;
  a {border-bottom: 1px dashed $gray20;}
  @media (min-width: 768px) {padding-top: 60px; padding-bottom: 60px;}
}



// COMPONENT - TEXT COLORS
.text-purple {color: $purple;}
.text-yellow {color: $yellow;}
.text-light {color: $gray50;}
.text-dark {color: $gray80;}

.monospace {font-family: monospace;}



// COMPONENT - GENERAL - HR
hr {margin: 0;
  &.gray {border-top: 10px solid rgba(0,0,0,0.11);}
}



// COMPONENT - GENERAL INSET BOX-SHADOW
.inset-box-shadow-top {@include box-shadow(inset 0 10px 0 0 rgba(0,0,0,0.15));}
.inset-box-shadow-bottom {@include box-shadow(inset 0 -10px 0 0 rgba(0,0,0,0.15));}



// COMPONENT - GENERAL - BACKGROUND COLORS
.bg-deep-purple, .bg-purple, .bg-gray5 {padding: 60px 0;
  .content {padding-top: 0; padding-bottom: 0;}
  @media (min-width: 768px) {padding: 80px 0;}
}
.bg-deep-purple, .bg-purple {color: #fff;
  h1, h2, h3, h4, h5, h6 {color: inherit;}
  a {color: $yellow;
    &:hover {color: darken($yellow,15%);}
  }
}

.bg-deep-purple {background-color: $deep-purple;}
.bg-purple {background-color: $purple;}
.bg-gray5 {background-color: $gray5;}



// COMPONENT - BUTTONS
.btn-outline-dark {display: inline-block; padding: 0; width: 190px; height: 50px; color: #fff !important; font-size: 16px; text-align: center; line-height: 50px; border: 1px solid $purple; border-radius: 5px;
  &:hover {color: #fff !important; border: 1px solid lighten($purple,15%); background-color: lignten($dark-space,25%);}
  span {color: $yellow;}
  @media (min-width: 768px) {width: 230px; font-size: 18px;}
}



// COMPONENT - JUMBOTRON
.jumbotron {background-color: $purple; background-repeat: no-repeat; background-position: center bottom; background-size: auto 100%; @extend .inset-box-shadow-top;
  h1, h2, h3, h4, h5, h6, p {color: #fff;}
  a {color: $yellow;
    &:hover {color: darken($yellow,15%);}
  }
  @media (min-width: 1025px) {
    .container {position: relative; top: 50%; @include transform(translateY(-50%)); max-height: 100%;}
  }
}



// LAYOUT - GENERAL 
.logo {display: block; width: 166px; height: auto;
  @media (min-width: 768px) {width: 225px;}
}


// LAYOUT - HEADER
header {position: relative; height: 105px; background-color: $dark-space; //@include box-shadow(0 10px 0 0 rgba(0,0,0,0.15));
  a.logo, nav {display: inline-block; line-height: 105px;}

  a {color: #fff;
    &:visited {color: #fff;}
    &:hover {color: #ccc;}
    &:active {color: #ccc;}
    &:focus {color: #ccc;}
    &.logo {float: left;}
  }

  nav {float: right;}

  nav.menu-mobile {
    ul {margin: 0; padding: 0; list-style: none; color: #fff; font-size: 16px; line-height: 30px;}

    a.mobile-menu-toggle {color: $purple; font-size: 35px;}
    ul.mobile-menu-items {list-style: none; padding-top: 15px; padding-bottom: 15px; width: 100%; background-color: darken($purple,5%); position: absolute; top: 95px; left: 0; z-index: 99999; @include box-shadow(0 10px 0 0 rgba(0,0,0,0.06));
      li {text-indent: 30px;
        a {display: block; font-size: inherit; line-height: 3; cursor: pointer;}
        &:hover {background-color: darken($purple,15%);};
      }

      @media (min-width: 768px) {top: 115px;}
    }
    @media (min-width: 950px) {display: none;}
  }
  
  nav.menu-desktop {display: none; font-size: 18px; 
    ul {margin: 0; padding: 0; list-style: none;
      li {display: inline-block; padding-right: 20px;
        iframe {margin-bottom: -4px;}
        &:last-child {padding-right: 0;}
      }
    }

    @media (min-width: 950px) {display: block;}
  }

  @media (min-width: 768px) {height: 105px;
    a.logo, nav {line-height: 105px;}
  }
}



// LAYOUT - FOOTER
footer {padding: 80px 0 0; background-color: $charcoal; color: $gray50; font-size: 16px; @include box-shadow(inset 0 10px 0 0 rgba(0,0,0,0.5));
  ul {margin: 0; padding: 0; list-style: none;}

  .tagline, .sitemap, .btn-outline-dark, .copyright {margin-bottom: 40px;}
  
  .sitemap {
    ul li {
      a {color: $gray20;
        &:hover {color: lighten($gray20,15%);}
      }
    }
  }
  .copyright {font-size: 11px;}

  @media (min-width: 768px) {font-size: 18px;}
}



// LAYOUT FOOTER - TWITTER SHARE
.twitter-share {margin: 0 auto 40px; padding: 0 30px; max-width: 1200px;
  h6 {margin-top: 0;}
  .fa-twitter {color: #55ACEE; font-size: 33px;}
  a {color: #55ACEE;}
  @media (min-width: 768px) {padding: 0 50px;} 
}



// PAGE - HOME
body.index {
  .jumbotron {padding-bottom: 0; background-image: url(../images/hero-home-bg@2x.png); background-position: center center; background-size: cover;}

  #getting-started .row {margin-top: 40px; margin-bottom: 60px;
    @media (max-width: 768px) {
      div[class^="col"] {margin-bottom: 40px;
        &:last-child {margin-bottom: 0;}
      }
    }
  }

  .features {@extend .bg-gray5;
    h2 {margin-bottom: 30px;
      &.text-light {margin-bottom: 0;}
    }
    h3, p {margin: 0;}
    img {margin-bottom: 20px;}

    @media (max-width: 768px) {
      div[class^="col"] {margin-bottom: 40px;}
    }
    @media (min-width: 768px) {
      .row {margin-bottom: 80px;}
      img {margin-bottom: 30px;}
    }
  }

  .video {@extend .bg-purple; @extend .inset-box-shadow-top; color: #fff;
    h3 {margin: 15px 0 0;}
    a {color: inherit; border: none;
      &:hover {color: inherit; @include opacity(0.5);
        img {@include opacity(0.75);}
      }
    }
    p {margin: 0;}
    ul {list-style: none;
      a {color: $yellow; border-bottom: 1px dashed #fff;}
    }
    @media (max-width: 1024px) {
      div[class^="col"] {margin-top: 40px;}
      h3.col-sm-12 {margin: 60px 0 5px}
      ul {margin-bottom: 0;}
    }
    @media (min-width: 1024px) {padding-top: 100px; padding-bottom: 100px;
      .row {margin-top: 40px;}
      h3.col-sm-12 {margin: 30px 0 15px}
    }
  }

  .tech {@extend .bg-deep-purple; @extend .inset-box-shadow-top;
    img {margin-top: 20px; margin-bottom: 20px;}
    h3 {margin-top: 40px;}
    ul {margin: 30px 0; padding-left: 15px;}
    .row {margin-bottom: 30px;}
    @media (min-width: 768px) {padding-top: 90px; padding-bottom: 90px;
      h3 {margin-top: 80px;}
      .row {margin-bottom: 60px;}
    }
    @media (min-width: 1024px) {
      .clearfix {display: none;}
    }
  }

  .contributors {
    ul {list-style: none; margin: 20px 0; padding: 0;
      li {display: inline-block; margin-right: 40px; margin-bottom: 20px;}
      a {border: none;
        &:hover img {@include opacity(0.75);}
        img {max-height: 79px; max-width: 230px;}
      }
    }
    @media (min-width: 768px) {
      ul {margin: 40px 0;
        li {margin-right: 80px;}
      }
    }
  }
}



// PAGE - FEATURES
body.features {
  .content {
    .quick-links {margin-bottom: 40px;
      ul {margin-bottom: 0; list-style: none;}
      a {padding-bottom: 2px;}
    }
    .row {margin-bottom: 30px;
      &:last-child {margin-bottom: 0;}
    }

    @media (max-width: 768px) {
      div[class^="col"] {margin-top: 20px;}
    }
    @media (min-width: 768px) {
      .row {margin-bottom: 80px;}
      img {margin-top: 65px;}
    }
  }
}


// PAGE - COMMUNITY
body.community {
  .content {
    ul {margin: 15px 0 40px; padding: 0; list-style: none; font-size: 24px;}
    p.talk {font-size: 24px;}
    @media (min-width: 768px) {
      ul {margin-bottom: 80px; font-size: 38px;}
      p.talk {font-size: 38px; margin-top: 30px;}
    }
  }
}


// PAGE - DOWNLOAD
body.download {
  .content {
    .block {margin-bottom: 40px;
      &:last-child {margin-bottom: 20px;}
      ul {margin: 20px 0 0; padding: 0; list-style: none; font-size: 20px;
        h4 {margin: 0;}
      }
    }

    @media (min-width: 768px) {
      .block {margin-bottom: 80px;
        ul {margin: 30px 0 0;font-size: 24px;}
      }
    }
  }
}

