AddType text/plain sh

# Prevent directory listings
Options All -Indexes

# 301 Redirect File or Folder
Redirect 301 /getting-started/download /getting-started/
Redirect 301 /checonf /checonf18/
Redirect 301 /che/docs /che/docs/6/che/docs